.movies-grid {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.movie-card {
  width: 300px;
  min-height: 375px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__details {
    padding: 0 20px;

    .movie-title {
      a {
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .movie-release-date {
      font-size: 0.9rem;
      color: #888;
    }

    .movie-description {
      font-size: 0.9rem;
      margin-top: auto;
      text-align: center;
    }
  }
}
