.app-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__title {
    min-width: fit-content;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    text-align: left;
    flex: 4;
  }

  .input {
    min-width: 200px;
    flex: 1;
  }
}
